ul.color-list-field {
 overflow: auto;
 list-style-type: none;
 padding-left: 1.5em;
}
ul.color-list-field li {
 float: left;
 position: relative;
 margin: 0 0.75em 0.75em 0;
}
ul.color-list-field li input {
 display: none;
}
ul.color-list-field li label {
   position:relative;
   z-index:1;
 width: 50px;
 height: 50px;
 display: block;
 cursor: pointer;
 background: #e6e6e6;
 border-radius: 50%;
   overflow:hidden;
}
ul.color-list-field li label span {
   display:inline-block;
   position:absolute;
   top:50%;
   left:50%;
   transform:translate(-50%,-50%);
   width: 25px;
   height: 25px;
   border-radius: 50%; 
   -webkit-transition: all .2s linear;
   -moz-transition: all .2s linear;
   -o-transition: all .2s linear;
   transition: all .2s linear;
   z-index:2
}
ul.color-list-field li label:hover span{
  width: 35px;
 height: 35px; 
}
ul.color-list-field li input:checked + span{
  width: 45px;
 height: 45px; 
}